.comand {
    padding-bottom: 94px;
    background-color: var(--caption-background-color);
}

.comand-flex {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.team {
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.06em;
}

.team-list {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(93.33, 93.33, 93.33, 0.25);
}

.subtitle {
    margin-top: 10px;
    margin-bottom: 16px;
    color: var(--primary-text-color-theme);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center
}

.social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-bottom: 30px;
}

.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition-property: all;

    &:hover,
    &:focus {
        background-color: var(--secondary-text-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

}

.social-list-icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    transition-property: fill;

    .social-list-link:hover &,
        .social-list-link:focus & {
            fill: #FFFFFF;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

}


.social-list-portfolio {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.social-list-item-portfolio-block {
    display: block;
}

.social-list-link-portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgb(100, 100, 100, 0.1);
    transition-property: background-color;

    &:hover,
    &:focus {
        background-color: var(--secondary-text-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.social-list-icon-portfolio {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
    transition-property: fill;

    .social-list-link-portfolio:hover &,
        .social-list-link-portfolio:focus & {
            fill: #FFFFFF;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
}

.subtitle-come-back {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}