.menu-preferens {
    display: flex;
    justify-content: space-between;
}

.menu-preferens-box {
    width: 270px;
}

.benefits {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.menu-preferens {
    display: flex;
    justify-content: space-between;
}

.menu-preferens-box {
    width: 270px;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme);
}

.icon-preferens {
    display: flex;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;

}

.icon-antenna,
.icon-clock,
.icon-diagram,
.icon-astronaut-1 {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}