.caption {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.caption-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    column-gap: 30px;
}

.thumb {
    position: relative;
    overflow: hidden;

    &>.label {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 224px;
            width: 370px;
            height: 70px;
            font-family: var(--primary-font);
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            text-align: center;
            text-transform: uppercase;
            background-color: rgba(47, 48, 58, 0.8);
            color: var(--title-color-dscr);
        }
}



