.section-doing {
    padding-top: 0px;
}

.page-header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px;
}

.page-header__container {
    display: flex;
}

.page-navigation {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--logo-studio-color);
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.page-navigation__logo {
    margin-right: 93px;
}

.accent, .accent-link {
    color: var(--secondary-text-color);
}

.menu__header {

    margin-left: auto;
}

.menu {
    display: flex;
    column-gap: 50px;
}

.menu__link {
    color: black;
    position: relative;
    font-family: var(--primary-font);
    color: var(--primary-text-color);
    transition-property: color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.06em;

    &:hover,
    &:focus,
    &.current {
        color: var(--secondary-text-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

        &.current::after {
            position: absolute;
            top: 44px;
            background-color: var(--secondary-text-color);
            display: block;
            height: 4px;
            color: var(--secondary-text-color);
            border-radius: 2px;
            content: "";
        }
}

.current-width-index::after {
    width: 48px;
}

.current-width-portfolio::after {
    width: 72px;
}


.mail-contact {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.mail-contact-block {
    display: block;
}

.mail,
.contact-phone-number {
    align-items: center;
    color: var(--primary-text-color-theme);
    fill: currentColor;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.mail {
    margin-right: 50px;
}

.contact-link {
    transition-property: color;

    &:hover,
    &:focus {
        color: var(--secondary-text-color);
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.contact-link-header {
    display: flex;
    align-items: center;
}

.icon-envelope {
    margin-right: 10px;
}


.icon-smartphone {
    margin-right: 10px;
}

