.section-busines {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

}

.title {
    text-align: center;
    box-sizing: border-box;
    width: 696px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--title-color-dscr);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;

}

.section-busines {
    max-width: 1600px;
    margin: 0 auto;
    outline: 1px solid black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('../images/general-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(47, 48, 58, 0.4);

}